<html>
<head>
	<title>Bio CGQ Asker</title>
</head>
<script type="text/javascript">
	questionIndex = 0;
	totalQuestions = {{ total }};
function load(){
	document.getElementById('q' + String(questionIndex)).style.display = "block";
	currentHTML = document.getElementById('q' + String(questionIndex)).innerHTML
	document.getElementById('q' + String(questionIndex)).innerHTML = "(" + String(questionIndex + 1) + "/" + String(totalQuestions) + ") " + currentHTML;
}
function showNextQuestion(){
	questionIndex += 1;
	if (questionIndex >= totalQuestions){
		alert("No more questions!");
		window.location.href = '/';
	}else{
	document.getElementById('q' + String(questionIndex-1)).style.display = "none";
	currentHTML = document.getElementById('q' + String(questionIndex)).innerHTML
	document.getElementById('q' + String(questionIndex)).innerHTML = "(" + String(questionIndex + 1) + "/" + String(totalQuestions) + ") " + currentHTML; 
	document.getElementById('q' + String(questionIndex)).style.display = "block";
}
}
function showAnswer(){
	console.log('a' + String(questionIndex));
	document.getElementById('a' + String(questionIndex)).style.display = "block";	
	document.getElementById('a0').style.display = "block";	
}


</script>
<body onload="load()">
	
	{% for question, answer, index1, index2 in questions %}
	<div class="question" id="{{index1}}" style="display:none">
		{{ question }}
		<br />
		<textarea name="answer" cols="40" rows="5" id="{{'a' + index1}}"></textarea>
		<br />
	    <button onClick="showAnswer()">Answer!</button>
	    <div class="answer" id="{{index2}}" style="display:none">
	    {{ answer }}
	    <br />
	    <button onClick="showNextQuestion()">Show Next Question</button>
	    </div><br />
    </div>
    {% endfor %}
</body>

</html>
